.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
    float: left;
    width: 20%;
}

.App-header {
    background-color: rgb(238, 6, 6);
    height: 100px;
    color: white;
}

.App-title {
    font-size: 2.0em;
    width: auto;
    float: left;
    padding: 30px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.center-table {
    table-layout: fixed;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

td {
    width: 25%;
}